div{
	background-color: #1d3030;
	height: 100px;
	text-align:center;
	opacity: 0.80;
}

div:hover{
	cursor: pointer;
	opacity: 1;
}

div h1{
	color: #afcfcf;
	line-height: 100px;
	font-family: Helvetica, sans-serif;
}

a{
	text-decoration: inherit;
}